div(class="account__details")
  form.form.form--big(action="submit")
    h1(class="form__title heading-primary--main") Add New Product
    div(class="form__group")
      input#productName(type="text", class="form__input", placeholder="Product Name", required)
    div(class="form__group")
      input#type(type="text", class="form__input", placeholder="Type", required)
    div(class="form__group")
      input#animal(type="text", class="form__input", placeholder="Animal", required)
    div(class="form__group")
      input#brand(type="text", class="form__input", placeholder="Brand", required)
    div(class="form__group")
      input#price(type="number", class="form__input", placeholder="Price", required)
    div(class="form__group")
      input#countInStock(type="number", class="form__input", placeholder="Count in Stock", required)
    span Write colors, styles separated by coma:
    div(class="form__group")
      input#colors(type="text", class="form__input", placeholder="Colors", required)
    div(class="form__group")
      input#styles(type="text", class="form__input", placeholder="Styles", required)
    span Features:
    div(class="form__group")
      textarea#feature1(rows="2", class="form__textarea form__textarea--small", placeholder="Feature 1", required)
    div(class="form__group")
      textarea#feature2(rows="2", class="form__textarea form__textarea--small", placeholder="Feature 2", required)
    div(class="form__group")
      textarea#feature3(rows="2", class="form__textarea form__textarea--small", placeholder="Feature 3", required)
    div(class="form__group")
      textarea#feature4(rows="2", class="form__textarea form__textarea--small", placeholder="Feature 4", required)
    span Pictures:
    div(class="form__group form__photo-upload")
      img(src="/img/products/product-6.jpg", alt="Anna Lurdes", class="form__product-photo")
      a.btn.btn-text(href="#") Choose primary picture
    div(class="form__group form__photo-upload")
      img(src="/img/products/product-6.jpg", alt="Anna Lurdes", class="form__product-photo")
      a.btn.btn-text(href="#") Choose picture 1
    div(class="form__group form__photo-upload")
      img(src="/img/products/product-6.jpg", alt="Anna Lurdes", class="form__product-photo")
      a.btn.btn-text(href="#") Choose picture 2
    div(class="form__group form__photo-upload")
      img(src="/img/products/product-6.jpg", alt="Anna Lurdes", class="form__product-photo")
      a.btn.btn-text(href="#") Choose picture 3
    div(class="form__group")
      a.btn.btn-color.btn-color--mixed Add New Product