h1.list-title.heading-primary--main Your orders
ul.list
  li.order
    a(class="btn btn-text btn-text--normal order__data") 23 July 2021
    ul(class="order__products-list")
      li(class="order__product") Backpack “Apollo”
      li(class="order__product") Costume “Firefly” ”
    div(class="order__status")
      span &amp;nbsp;
      | Delivered
    div(class="order__details")
      span(class="order__quantity") 2pc
      span(class="order__total-price") $150
    div(class="order__customer")
      span(class="order__customer-name") Anna Frances
      span(class="order__customer-address") Big Valley Avenue 37-989