.articles-section
  .section-heading.section-heading--side
    a.btn.btn-text.btn-text--huge(href="#") Articles
    div(class="section-heading__btns")
      button.btn.btn-icon.btn-icon--left-arrow
        svg(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24", stroke="currentColor", stroke-width="2")
          path(stroke-linecap="round", stroke-linejoin="round", d="M7 16l-4-4m0 0l4-4m-4 4h18")
      button.btn.btn-icon.btn-icon--right-arrow
        svg(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24", stroke="currentColor", stroke-width="2")
          path(stroke-linecap="round", stroke-linejoin="round", d="M17 8l4 4m0 0l-4 4m4-4H3")
  ul(class="articles-section__list")
    li.article
      div(class="article__img-box")
        img(src="/img/articles/article-1.jpg", alt="Article Image")
        div(class="article__text-box")
          h1.heading-primary--main
            a.btn.btn-text(href="#") How to Trim Your Dog’s Nails Safely
          p(class="article__paragraph")
            | Nail trimming is an essential part of dog grooming, and trim nails
            | are one clear sign of your dog’s good health and hygiene.
            | Professional groomers will perform the task for squeamish owners,
            | but dog nail trimming is a simple procedure if done correctly.