.promo-section.promo-section--left
  // Brand
  div(class="promo-section__brand-box")
    img(src="/img//products/collection-0-1.jpg", alt="Brand Image")
    div(class="promo-section__text")
      span Butchers&apos;s
      a.btn.btn-color.btn-color--primary(href="#")
        | Shop Now
        svg(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24", stroke="currentColor", stroke-width="2")
          path(stroke-linecap="round", stroke-linejoin="round", d="M17 8l4 4m0 0l-4 4m4-4H3")
  // Products
  .products-display.products-display--vertical
    // Product 1
    .product.product--small.product--horizontal
      div(class="product__img-box")
        img(src="/img/products/collection-1.jpg", alt="Product 1")
      div(class="product__text-box")
        span(class="product__category-label") Food
        h3(class="btn btn-text btn-text--normal heading-tertiary product__name")
          | Delicious Duck
        div(class="product__prices")
          span(class="product__prices--prev") $15
          span(class="product__prices--current") $9.99