footer.footer
  ul(class="footer__list")
    li(class="footer__el")
      a.btn.btn-text.btn-text--big(href="#") CONTACT US
    li(class="footer__el")
      a.btn.btn-text.btn-text--big(href="#") REWARDS
    li(class="footer__el")
      a.btn.btn-text.btn-text--big(href="#") REFERRALS
    li(class="footer__el")
      a.btn.btn-text.btn-text--big(href="#") FAQS
    li(class="footer__el")
      a.btn.btn-text.btn-text--big(href="#") PAYMENTS
    li(class="footer__el")
      a.btn.btn-text.btn-text--big(href="#") TRACK MY ORDER
    li(class="footer__el")
      a.btn.btn-text.btn-text--big(href="#") PRIVACY POLICY
    li(class="footer__el")
      a.btn.btn-text.btn-text--big(href="#") SHIPPING POLICY
    li(class="footer__el")
      a.btn.btn-text.btn-text--big(href="#") RETURN &amp; REFUND
  div(class="footer__box")
    div(class="footer__connect")
      a.btn(href="#")
        img.logo(src="/img/logo.png", alt="Lucky paws logo")
      div(class="footer__social")
        a.btn.btn-icon(href="#")
          svg(xmlns="http://www.w3.org/2000/svg", fill="#363636", viewBox="0 0 256 256")
            rect(width="256", height="256", fill="none")
            circle(cx="128", cy="128", r="40", fill="none", stroke="#000000", stroke-miterlimit="10", stroke-width="16")
            rect(x="36", y="36", width="184", height="184", rx="48", fill="none", stroke="#000000", stroke-linecap="round", stroke-linejoin="round", stroke-width="16")
            circle(cx="180", cy="76", r="12")
        a.btn.btn-icon(href="#")
          svg(xmlns="http://www.w3.org/2000/svg", fill="#363636", viewBox="0 0 256 256")
            rect(width="256", height="256", fill="none")
            path(d="M128,88c0-22,18.5-40.3,40.5-40a40,40,0,0,1,36.2,24H240l-32.3,32.3A127.9,127.9,0,0,1,80,224c-32,0-40-12-40-12s32-12,48-36c0,0-64-32-48-120,0,0,40,40,88,48Z", fill="none", stroke="#363636", stroke-linecap="round", stroke-linejoin="round", stroke-width="16")
        a.btn.btn-icon(href="#")
          svg(xmlns="http://www.w3.org/2000/svg", fill="#363636", viewBox="0 0 256 256")
            rect(width="256", height="256", fill="none")
            polygon(points="160 128 112 96 112 160 160 128", fill="none", stroke="#363636", stroke-linecap="round", stroke-linejoin="round", stroke-width="16")
            path(d="M24,128c0,29.8,3.1,47.2,5.4,56.2A16.1,16.1,0,0,0,39,195.1c33.5,12.8,89,12.5,89,12.5s55.5.3,89-12.5a16.1,16.1,0,0,0,9.6-10.9c2.3-9,5.4-26.4,5.4-56.2s-3.1-47.2-5.4-56.2A16.1,16.1,0,0,0,217,60.9c-33.5-12.8-89-12.5-89-12.5s-55.5-.3-89,12.5a16.1,16.1,0,0,0-9.6,10.9C27.1,80.8,24,98.2,24,128Z", fill="none", stroke="#363636", stroke-linecap="round", stroke-linejoin="round", stroke-width="16")
    // CTA
    div(class="footer__cta")
      p Join to get special offers, free giveaways, and once-in-a-lifetime.
      form.form.form--small(action="submit")
        div(class="form__group")
          input#email(type="text", class="form__input", placeholder="youremail@email.com", required)
        div(class="form__group")
          button.btn.btn-color.btn-color--mixed
            | Join
            svg(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24", stroke="currentColor", stroke-width="2")
              path(stroke-linecap="round", stroke-linejoin="round", d="M17 8l4 4m0 0l-4 4m4-4H3")
    div(class="footer__payments")
      img(src="img/svg/mastercard.svg", alt="mastercard")
      img(src="img/svg/visa.svg", alt="visa")
      img(src="img/svg/paypal.svg", alt="paypal")
  div(class="footer__map")
    .map
