include _icons

header.header
  div(class="header__inner")
    // Tabs
    .header-tabs.container
      div(class="header-tabs__el header-tabs__el--hamburger")
        button.btn.btn-icon
          svg(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24", stroke="currentColor")
            path(stroke-linecap="round", stroke-linejoin="round", d="M4 6h16M4 12h16M4 18h16")
      div(class="header-tabs__el header-tabs__el--logo")
        a.btn(href="/")
          img.logo(src="https://i.ibb.co/94gqm8h/logo.png", alt="Lucky paws logo")
      div(class="header-tabs__el")
        a.btn.btn-icon(href="#")
          +icons("search")
      div(class="header-tabs__el")
        a.btn.btn-icon(href="#")
          +icons("heart")
      div(class="header-tabs__el")
        a.btn.btn-icon(href=`${user ? '/my-account' : '/login'}`)
          +icons("account")
      div(class="header-tabs__el")
        a.btn.btn-icon(href="/cart")
          +icons("cart")
    // Navigation
    nav.nav
      div(class="nav__main container")
        a.btn.btn-text.btn-text--big(href="#") New arrival
        div(class="nav__item parent")
          a.btn.btn-text.btn-text--big(href="#") Cat
          div(class="nav__sub")
            div(class="nav__sub-inner container")
              div(class="nav__sub-block")
                a.btn.btn-text.btn-text--sub(href="#") Bows &amp; Feeders
                a.btn.btn-text.btn-text--sub(href="#") Clothes
                a.btn.btn-text.btn-text--sub(href="#") Litter Boxes
              div(class="nav__sub-block")
                a.btn.btn-text.btn-text--sub(href="#") Furniture
                a.btn.btn-text.btn-text--sub(href="#") Scratching
                a.btn.btn-text.btn-text--sub(href="#") Brushes &amp; Combs
              div(class="nav__sub-block")
                a.btn.btn-text.btn-text--sub(href="#") Collars
                a.btn.btn-text.btn-text--sub(href="#") Harnesses
                a.btn.btn-text.btn-text--sub(href="#") Leashes
              div(class="nav__sub-block")
                a.btn.btn-text.btn-text--sub(href="#") Beds
                a.btn.btn-text.btn-text--sub(href="#") Toys
                a.btn.btn-text.btn-text--sub(href="#") Carriers
        div(class="nav__item parent")
          a.btn.btn-text.btn-text--big(href="#") Dog
          div(class="nav__sub")
            div(class="nav__sub-inner container")
              div(class="nav__sub-block")
                a.btn.btn-text.btn-text--sub(href="#") Bows &amp; Feeders
                a.btn.btn-text.btn-text--sub(href="#") Clothes
                a.btn.btn-text.btn-text--sub(href="#") Litter Boxes
              div(class="nav__sub-block")
                a.btn.btn-text.btn-text--sub(href="#") Interactive Toys
                a.btn.btn-text.btn-text--sub(href="#") Tough Toys
                a.btn.btn-text.btn-text--sub(href="#") Plush Toys
              div(class="nav__sub-block")
                a.btn.btn-text.btn-text--sub(href="#") Collars
                a.btn.btn-text.btn-text--sub(href="#") Harnesses
                a.btn.btn-text.btn-text--sub(href="#") Leashes
              div(class="nav__sub-block")
                a.btn.btn-text.btn-text--sub(href="#") Beds
                a.btn.btn-text.btn-text--sub(href="#") Furniture
                a.btn.btn-text.btn-text--sub(href="#") Carriers
        a.btn.btn-text.btn-text--big(href="#") Gift cards
        a.btn.btn-text.btn-text--big(href="#") About us