header.header.header--index-page
  div(class="header__inner")
    // Tabs
    .header-tabs.container
      div(class="header-tabs__el header-tabs__el--hamburger")
        button.btn.btn-icon
          svg(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24", stroke="currentColor")
            path(stroke-linecap="round", stroke-linejoin="round", d="M4 6h16M4 12h16M4 18h16")
      div(class="header-tabs__el header-tabs__el--logo")
        a.btn(href="#")
          img.logo(src="https://i.ibb.co/94gqm8h/logo.png", alt="Lucky paws logo")
      div(class="header-tabs__el")
        a.btn.btn-icon(href="#")
          svg.h-6.w-6(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24", stroke="currentColor")
            path(stroke-linecap="round", stroke-linejoin="round", d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z")
      div(class="header-tabs__el")
        a.btn.btn-icon(href="#")
          svg.h-6.w-6(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24", stroke="currentColor")
            path(stroke-linecap="round", stroke-linejoin="round", d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z")
      div(class="header-tabs__el")
        a.btn.btn-icon(href="register.html")
          svg.h-6.w-6(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24", stroke="currentColor")
            path(stroke-linecap="round", stroke-linejoin="round", d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z")
      div(class="header-tabs__el")
        a.btn.btn-icon(href="#")
          svg.h-6.w-6(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24", stroke="currentColor")
            path(stroke-linecap="round", stroke-linejoin="round", d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z")
    // Navigation
    nav.nav
      div(class="nav__main container")
        a.btn.btn-text.btn-text--big(href="#") New arrival
        div(class="nav__item parent")
          a.btn.btn-text.btn-text--big(href="#") Cat
          div(class="nav__sub")
            div(class="nav__sub-inner container")
              div(class="nav__sub-block")
                a.btn.btn-text.btn-text--sub(href="#") Bows &amp; Feeders
                a.btn.btn-text.btn-text--sub(href="#") Clothes
                a.btn.btn-text.btn-text--sub(href="#") Litter Boxes
              div(class="nav__sub-block")
                a.btn.btn-text.btn-text--sub(href="#") Furniture
                a.btn.btn-text.btn-text--sub(href="#") Scratching
                a.btn.btn-text.btn-text--sub(href="#") Brushes &amp; Combs
              div(class="nav__sub-block")
                a.btn.btn-text.btn-text--sub(href="#") Collars
                a.btn.btn-text.btn-text--sub(href="#") Harnesses
                a.btn.btn-text.btn-text--sub(href="#") Leashes
              div(class="nav__sub-block")
                a.btn.btn-text.btn-text--sub(href="#") Beds
                a.btn.btn-text.btn-text--sub(href="#") Toys
                a.btn.btn-text.btn-text--sub(href="#") Carriers
        div(class="nav__item parent")
          a.btn.btn-text.btn-text--big(href="#") Dog
          div(class="nav__sub")
            div(class="nav__sub-inner container")
              div(class="nav__sub-block")
                a.btn.btn-text.btn-text--sub(href="#") Bows &amp; Feeders
                a.btn.btn-text.btn-text--sub(href="#") Clothes
                a.btn.btn-text.btn-text--sub(href="#") Litter Boxes
              div(class="nav__sub-block")
                a.btn.btn-text.btn-text--sub(href="#") Interactive Toys
                a.btn.btn-text.btn-text--sub(href="#") Tough Toys
                a.btn.btn-text.btn-text--sub(href="#") Plush Toys
              div(class="nav__sub-block")
                a.btn.btn-text.btn-text--sub(href="#") Collars
                a.btn.btn-text.btn-text--sub(href="#") Harnesses
                a.btn.btn-text.btn-text--sub(href="#") Leashes
              div(class="nav__sub-block")
                a.btn.btn-text.btn-text--sub(href="#") Beds
                a.btn.btn-text.btn-text--sub(href="#") Furniture
                a.btn.btn-text.btn-text--sub(href="#") Carriers
        a.btn.btn-text.btn-text--big(href="#") Gift cards
        a.btn.btn-text.btn-text--big(href="#") About us