h1.products-title.heading-primary.heading-primary--main
  | New Arrivals
.products
  .product.product--normal.product--vertical
    div(class="product__img-box")
      img(src="/img/products/product-1.jpg", alt="Product 1")
      span(class="product__label product__label--new") New
    div(class="product__text-box")
      span(class="product__category-label")
        a.btn.btn-text.btn-text--sub-small(href="#")  Dog&apos;s Beds 
      a(class="btn btn-text btn-text--normal btn btn-text btn-text--normal heading-tertiary product__name")
        | Comfy Tent “Dreamer”
      div(class="product__prices")
        span(class="product__prices--prev") $75
        span(class="product__prices--current") $60